@import "./global.scss";

.header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  h1 {
    display: flex;
    gap: 10px;
    width: $width;
    max-width: $max-width;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 1.6rem;

    a {
      display: block;
      background: green;
    }

    button {
      all: unset;
      cursor: pointer;
    }
  }

  aside {
    &.active {
      left: 0;
      transition: 0.5s;
    }

    width: 200px;
    height: 100vh;
    padding: 10px 20px;
    background: green;
    position: absolute;
    top: 0;
    left: -200px;
    transition: 0.5s;

    button {
      all: unset;
      display: block;
      width: fit-content;
      // margin-left: auto;
      font-size: 2.4rem;
      cursor: pointer;
    }

    nav {
      a {
        display: block;

        font-size: 1.8rem;
        background: yellow;
        margin-bottom: 10px;
      }
    }
  }

  // width: 200px;
  // height: 100vh;
  // border: 1px solid red;

  // position: absolute;
  // top: 0;
  // left: 0;
}
