@import "./global.scss";

.home {
  width: $width;
  max-width: $max-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 7fr;

  > * {
    border: 1px solid blue;
  }

  .map {
    width: 100%;
    height: calc(100vh - 37px - 30px);
  }
}
