.map {
  // width: 100%;
  width: calc(100vw - 340px);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;

  > div:not(.loading-effect) {
    width: 100% !important;
  }

  .loading-effect {
    width: 0;
    height: 0;
    background: rgba(255, 0, 0, 0.3);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;

    &.active {
      animation: radar 3s infinite 1s;
    }
  }

  @keyframes radar {
    0% {
      width: 0;
      height: 0;
    }
    50% {
      width: 30vw;
      height: 30vw;
    }
    100% {
      width: 0;
      height: 0;
    }
  }
}
