.nav {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  display: flex;
  gap: 10px;
  border-top: 1px solid rgb(223, 223, 223);
  padding: 15px 10px 0;

  > * {
    display: block;
    width: 100%;
    height: fit-content;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;

    img {
      display: block;
      width: 24px;
      margin: 0 auto 10px;
      opacity: 0.3;
    }

    p {
      font-size: 1.2rem;
      color: rgb(150, 150, 150);
      text-align: center;
    }

    &:hover {
      img {
        filter: invert(55%) sepia(37%) saturate(537%) hue-rotate(159deg)
          brightness(92%) contrast(86%);
      }

      p {
        color: #98c1d9;
      }
    }
  }
}
