.organiseWalkModal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;

  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transition: opacity 0.5s;
  transition: z-index 0s 1s;

  &.active {
    z-index: 50;
    pointer-events: all;
    opacity: 1;
    transition: opacity 0.5s;
  }

  .overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
  }

  dialog {
    all: unset;
    display: block;
    width: 380px;
    padding: 60px 40px 40px;
    background: rgb(241, 241, 241);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    .closeBtn {
      all: unset;
      display: block;
      font-size: 2.4rem;
      position: absolute;
      top: 10px;
      right: 20px;
      cursor: pointer;
      color: gray;
    }

    .petInfo {
      > h2 {
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
      }

      li {
        display: flex;
        gap: 20px;
        align-items: center;
        background: white;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        .img-container {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border: 3px solid rgb(211, 211, 211);
          overflow: hidden;
          position: relative;

          img {
            display: block;
            width: 140%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .text-container {
          h3 {
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 5px;
          }

          p {
            font-size: 1.4rem;
            color: gray;
          }
        }
      }
    }

    form {
      > div {
        margin: 20px 0;

        select {
          display: block;
          padding: 5px 10px;
          outline: none;
          border: none;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          width: 100%;
          font-size: 1.5rem;
        }

        label {
          display: block;
          font-size: 1.3rem;
          color: gray;
          text-align: left;
          margin-bottom: 7px;
        }

        textarea {
          resize: vertical;
          box-sizing: border-box;
          width: 100%;
          padding: 10px 10px;
          margin-bottom: 10px;
          outline: none;
          border: none;
          background-color: white;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          font-size: 1.5rem;
        }
      }

      button {
        all: unset;
        display: block;
        width: fit-content;
        margin: 0 auto;
        padding: 12px 20px;
        background: #ee6c4d;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        font-size: 1.4rem;
        color: white;
        cursor: pointer;
      }
    }
  }
}
