.petRegisterForm {
  > p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    text-align: center;
  }

  &.--first form > div {
    margin-bottom: 24px;
    label,
    input {
      display: block;
    }

    label {
      margin-bottom: 5px;
      font-size: 1.4rem;
      color: gray;
    }

    input[type="text"] {
      all: unset;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid rgb(211, 211, 211);
      font-size: 1.6rem;
    }

    &.gender {
      p {
        font-size: 1.4rem;
        color: gray;
        margin-bottom: 5px;
      }

      > div {
        display: flex;
        gap: 20px;

        label,
        input {
          display: inline-block;
        }

        label {
          font-size: 1.6rem;
          color: black;
        }
      }
    }

    select {
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid rgb(211, 211, 211);
      font-size: 1.6rem;
    }
  }

  &.--second form > div {
    margin-bottom: 20px;

    label {
      font-size: 1.6rem;
    }

    &.btn-container {
      width: fit-content;
      display: flex;
      gap: 10px;
      margin: 40px auto 0;
    }
  }

  form button {
    all: unset;
    display: block;
    padding: 10px 30px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #3d5a80;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;

    &:last-child {
      background: #ee6c4d;
    }
  }
}
