.signinForm {
  form {
    margin: 30px 0 10px;

    > div {
      width: 320px;

      label {
        display: block;
        margin-top: 20px;
        font-size: 1.4rem;
        color: gray;
        line-height: 1.6;
      }

      input[type="text"],
      input[type="password"] {
        all: unset;
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 12px 10px;
        border: 1px solid rgb(223, 223, 223);
        border-radius: 10px;
        font-size: 1.6rem;
      }

      input[type="password"]:last-child {
        margin-top: 5px;
        &.error {
          border: 1px solid rgb(218, 0, 0);
        }
      }

      &.checkbox {
        display: flex;
        gap: 10px;
        align-items: center;

        label {
          all: unset;
          font-size: 1.6rem;
          color: black;
        }
      }
    }

    button[type="submit"] {
      all: unset;
      display: block;
      width: 100%;
      margin-top: 20px;
      padding: 15px 0;
      background: #ee6c4d;
      border-radius: 10px;
      font-size: 1.6rem;
      color: white;
      text-align: center;
      cursor: pointer;
    }
  }

  .error-msg {
    display: none;

    &.active {
      display: block;
      font-size: 1.4rem;
      text-align: center;
      color: transparent;
      color: #ee6c4d;
    }
  }

  button {
    all: unset;
    display: block;
    width: 100%;
    margin-top: 20px;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
  }
}
