/*NAV-BAR*/
.navbar{
    height: 70px;
    width: 100%;
    background-color: #555B6E;
}
.navbar ul{
    display: flex;
}
.navbar .flex{
    justify-content: space-between;
}

.navbar .logo{
    font-size: 2rem;
    color: #FAF9F9;
}

.navbar a{
    color: #FAF9F9;
    text-decoration:none;
    padding: 10px;
    margin: 0 5px;
    font-weight: 300;
    transition: 1s ease-in-out;
}

.navbar a:hover{
    border-bottom: 2px #FFFFFF solid;
    
}



